<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <h:outputStylesheet library="css" name="styles.css" />
        <title>#{msgs.title}</title>
    </h:head>
    <h:body>
        <h:form>
            <h1>#{msgs.enterPayment}</h1>
            <h:panelGrid columns="3">
                #{msgs.amount}
                <h:inputText id="amount" label="#{msgs.amount}"
                             value="#{payment.amount}">
                    <!-- Convert the string to a number with two decimal places -->
                    <f:convertNumber minFractionDigits="2" />

                </h:inputText>
                <!-- id for inputText filed is used in the message tag -->
                <h:message for="amount" styleClass="errorMessage" />

                #{msgs.creditCard}
                <h:inputText id="card" label="#{msgs.creditCard}"
                             value="#{payment.card}" />
                <h:message for="card" styleClass="errorMessage" />

                #{msgs.expirationDate}
                <h:inputText id="date" label="#{msgs.expirationDate}"
                             value="#{payment.date}">
                    <!-- Accept a string only in the pattern and which is a valid data -->
                    <f:convertDateTime pattern="MM/yyyy" />
                </h:inputText>
                <h:message for="date" styleClass="errorMessage" />
            </h:panelGrid>
            <h:commandButton value="#{msgs.process}" action="result" />
        </h:form>
    </h:body>
</html>
